@model IEnumerable<LanchesMac.Models.Lanche>

<div><h2>Todos os Lanches</h2></div>

@foreach (var lanche in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail">
            <img src="@lanche.ImagemUrl" class="rounded" alt=""/>
        </div>
        <div class="figure-caption">
            <h3 class="float-right">@lanche.Preco.ToString("c")</h3>
            <h3>@lanche.Nome</h3>
            <p>@lanche.DescricaoCurta</p>
        </div>
    </div>
}
